
<div class="container mt-4">
    <div class="row">
      <div class="col-3">
        <app-side-bar />
      </div>
      <div class="col-8">
        <mat-divider class="mt-4"></mat-divider>
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        <div
          *ngIf="!loading"
          class="timeline-card-container"
          fxLayout="column"
          fxLayoutAlign="center"
        >
          <mat-card *ngFor="let tweet of tweets" class="mt-4">
            <mat-card-content>{{tweet.content}}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
    <!-- Content here -->
  