<div class="sidebar">
    <button class="mb-2" mat-raised-button color="primary" [routerLink]="['/']">Home</button>
    <button class="mb-2" mat-raised-button color="primary" [routerLink]="['/users']">Users</button>
    <button class="mb-2" mat-raised-button color="primary" [routerLink]="['/followers']">Followers</button>
    <button class="mb-2" mat-raised-button color="primary" [routerLink]="['/followings']">Followings</button>
    <button class="mb-2" mat-raised-button color="primary" [routerLink]="['/my-tweets']">My Tweets</button>
    <button class="mb-2" mat-raised-button color="primary" (click)="logout()">Logout</button>
</div>