<div
class="timeline-card-container"
fxLayout="column"
fxLayoutAlign="center"
>
<mat-card *ngFor="let user of users" class="mb-4">
    <mat-card-header>
        <mat-card-title><a (click)="selectUser(user)">{{user?.username}}</a></mat-card-title>
        <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
        <mat-card-subtitle>{{user?.active}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <app-follow-button [id]="user.id" />
        <app-unfollow-button [id]="user.id" />
    </mat-card-actions>
</mat-card>
</div>