
  <div class="container mt-4">
  <div class="row">
    <div class="col-3">
      <app-side-bar />
    </div>
    <div class="col-8">
      <form
        [formGroup]="tweetForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <textarea placeholder="Your thought" matInput formControlName="content"></textarea>
          <div *ngIf="submitted && content?.invalid" class="invalid-feedback">
            <div *ngIf="content?.errors?.['required']">Where is your thought</div>
          </div>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Tweet
      </button>
      <mat-divider class="mt-4"></mat-divider>
      <span *ngIf="timeLineLoading" class="spinner-border spinner-border-sm me-1"></span>
      <div
        *ngIf="!timeLineLoading"
        class="timeline-card-container"
        fxLayout="column"
        fxLayoutAlign="center"
      >
        <mat-card class="mt-4">
          <mat-card-content>Simple card</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
  <!-- Content here -->

